/* 
-fonts
-modal formatting
-card formatting (add x to close...change checkbox format...lose autofill on author)
-change library-cards div to not dynamic grid
-root?
*/

:root {

}

html body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* is this right? */
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  color: white;
  background-color: #f0b429;
  padding: 20px;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0px 5px;
  font-size: 1.2rem;
  align-items: center;
  color: #3aabd2;
  border: 6px solid #3aabd2;
  border-radius: 50px;
  background-color: #ffffff;
}

.right {
  display: grid;
  grid-template-rows: 1fr 15fr;
}

.logo img {
  height: 3rem;
  width: 3rem;
}

.logo h1 {
  margin: 6px;
}

#modalBtn {
  color: white;
  background-color: #3aabd2;
  border-radius: 5px;
  border: none;
  width: 10rem;
  height: 2.3rem;
  font-weight: bold;
  font-size: 1.2em;
}

.header {
  color: white;
  background-color: #aaaaaa;
}

.header h1 {
  margin: 0;
}

#library-cards {
 background-color: #e2e8f0;
 display: grid;
 /* below will need some px and fr adjustments */
 grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
 /* add grid-template-rows */
 grid-gap: 30px;
}

.card {
  background-color: #8a816d;
  width: 200px;
  height: 200px;
}

#modal {
  display: none;
  position: fixed; 
  /* z-index: 1; Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#addBookForm {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.addBook {
  /* submit button */
}